@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fi3hd1');
  src:  url('fonts/icomoon.eot?fi3hd1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fi3hd1') format('truetype'),
    url('fonts/icomoon.woff?fi3hd1') format('woff'),
    url('fonts/icomoon.svg?fi3hd1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-scrolled-logo:before {
  content: "\e905";
}
.icon-logo:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-paginated_prev:before {
  content: "\e90b";
}
.icon-paginated_next:before {
  content: "\e90a";
}
.icon-left-rounded-1:before {
  content: "\e92b";
}
.icon-right-rounded-1:before {
  content: "\e92a";
}
.icon-bullet-left:before {
  content: "\ea40";
}
.icon-bullet-right:before {
  content: "\ea3c";
}
.icon-up-rounded-1:before {
  content: "\e92e";
}
.icon-down-rounded-1:before {
  content: "\e92c";
}
.icon-login:before {
  content: "\e946";
}
.icon-search:before {
  content: "\e947";
}
.icon-search-compact:before {
  content: "\e942";
}
.icon-search-long:before {
  content: "\e943";
}
.icon-search-rounded:before {
  content: "\e944";
}
.icon-search-short:before {
  content: "\e945";
}
.icon-fit-to-scale:before {
  content: "\e930";
}
.icon-minimize-fit:before {
  content: "\e939";
}
.icon-pin:before {
  content: "\e919";
}
.icon-geo-pin:before {
  content: "\e931";
}
.icon-circle-away:before {
  content: "\e934";
}
.icon-circle-right:before {
  content: "\e932";
}
.icon-circle-stop:before {
  content: "\e92f";
}
.icon-circle-up:before {
  content: "\e92d";
}
.icon-circle-close:before {
  content: "\e937";
}
.icon-plus-btn:before {
  content: "\e915";
}
.icon-close-btn:before {
  content: "\e916";
}
.icon-rotate-right:before {
  content: "\e938";
}
.icon-email:before {
  content: "\e93b";
}
.icon-circle-reload:before {
  content: "\e921";
}
.icon-rotate-large:before {
  content: "\e90c";
}
.icon-rotate-medium:before {
  content: "\e90d";
}
.icon-rotate:before {
  content: "\e90e";
}
.icon-addtofavorites-large:before {
  content: "\e90f";
}
.icon-addtofavorites-medium:before {
  content: "\e910";
}
.icon-addtofavorites:before {
  content: "\e911";
}
.icon-chevron-down-large:before {
  content: "\e917";
}
.icon-chevron-up-large:before {
  content: "\e91e";
}
.icon-chevron-down-medium:before {
  content: "\e91c";
}
.icon-chevron-up-medium:before {
  content: "\e91f";
}
.icon-chevron-down:before {
  content: "\e91d";
}
.icon-chevron-up:before {
  content: "\e920";
}
.icon-download-to-file-large:before {
  content: "\e912";
}
.icon-download-to-file-medium:before {
  content: "\e913";
}
.icon-download-to-file:before {
  content: "\e914";
}
.icon-minus-large:before {
  content: "\e91a";
}
.icon-plus-large:before {
  content: "\e91b";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-close-large:before {
  content: "\e922";
}
.icon-close-rounded-large:before {
  content: "\e93a";
}
.icon-close:before {
  content: "\e923";
}
.icon-close-icon:before {
  content: "\e93c";
}
.icon-menu-bars:before {
  content: "\e903";
}
.icon-menu-bars-rounded:before {
  content: "\e925";
}
.icon-menu-bars-stretched:before {
  content: "\e929";
}
.icon-menu-bars-separated:before {
  content: "\e933";
}
.icon-btn-share:before {
  content: "\e940";
}
.icon-btn-copy:before {
  content: "\e9af";
}
.icon-btn-printer:before {
  content: "\e93f";
}
.icon-send-outline:before {
  content: "\f1d9";
}
.icon-whatsapp:before {
  content: "\e941";
}
.icon-share:before {
  content: "\e928";
}
.icon-share-stretched:before {
  content: "\e936";
}
.icon-printer:before {
  content: "\e93e";
}
.icon-printjob:before {
  content: "\e948";
}
.icon-files-empty:before {
  content: "\e949";
}
.icon-copy-to-clipboard-reverse:before {
  content: "\e94a";
}
.icon-copy-plus-to-clipboard:before {
  content: "\e94b";
}
.icon-copy-to-clipboard:before {
  content: "\e935";
}
.icon-addtocollection:before {
  content: "\e918";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
.icon-facebook-alternative:before {
  content: "\e907";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-twitter-alternative:before {
  content: "\e906";
}
.icon-paper-plane-alternative:before {
  content: "\e908";
}
.icon-paper-plane:before {
  content: "\e909";
}
.icon-generic-button:before {
  content: "\e904";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-behance2:before {
  content: "\eaa9";
}
.icon-vimeo2:before {
  content: "\eaa1";
}
.icon-linkedin:before {
  content: "\eac9";
}
