Configuration/* linguist-vendored
Initialisation/* linguist-vendored
Resources/* linguist-vendored

/.gitattributes export-ignore
/.gitignore export-ignore

*.json text eol=lf
*.php text eol=lf
*.rst text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.ts text eol=lf
*.typoscript text eol=lf
*.xlf text eol=lf
*.txt text eol=lf
