html {
    font-size: 14px!important;
}


body,
body > * {
    font-family: "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif!important;
}


body,
.cke_editable {
    line-height: 1.4;
    font-size: 1rem!important;  
    margin:40px!important;
    font-weight: 300
}

::-moz-selection, ::selection { background:rgb(241, 196, 15); color:inherit}
:focus {outline: 0;}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(35, 31, 32);
    margin: 1rem 0 0.4rem;
    padding: 0;
    line-height: 1.1;
    letter-spacing: .01rem;
    font-size: 1.6rem;
    font-style: normal;   
    font-weight: 300
}

h4,
h5,
h6 {
    font-size: 1rem;
}

h4 {
    font-weight: 700;
}

h5,
h6 {
    margin: 0;
}

p {margin: 0 0 0.4rem 0;}

p + ul {
    margin-top: 1rem!important;
}

ul + p {
    margin-top: 2rem!important;
}

p:empty {
   display: none;
}

strong {
    font-weight: 700
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #6d6e71;
    margin: 1.6rem 0;
    padding: 0;
}

blockquote, blockquote p {
	margin:0;
	font-size: 3.333rem;
	line-height: 3.75rem;
	color: rgba(0, 0, 0, 0.9);
	text-align: left;
	font-weight: 700

}

/* table border only for RTE */
table {
     border-collapse: collapse;
     width: 100%;
}

table caption, table th, th,
table td, td {
    vertical-align: top;
    border: 1px dashed #CCCCCC;
    padding: 1%;
    height: 1.6rem;
    text-align: left;
}

dl {
	
}

dt {
	padding: 0.7rem 0;
	font-weight: 700;
}

dd {
	margin:0;
	padding: 0.3rem 0;
	border-top: 1px solid rgb(107, 108, 112);

}

.brandcolor { color:rgb(241, 196, 15) }

.mb-5{margin-bottom:3rem}
.mt-5{margin-top:3rem}

.box {
    padding: 1rem;
    background: lightgrey;
    margin: 1rem;
}
