<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
	<figure>
	
	<f:if condition="{file.link}">
		<f:then>
			<f:link.typolink parameter="{file.link}" title="{file.title}">
				<f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
			</f:link.typolink>
		</f:then>
		<f:else>
			<f:if condition="{data.image_zoom}">
				<f:then>
					<ce:link.clickEnlarge image="{file}" configuration="{settings.media.popup}">
						<f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
					</ce:link.clickEnlarge>
				</f:then>
				<f:else>
					<f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
				</f:else>
			</f:if>
		</f:else>
	</f:if>
	
	<f:if condition="{0: file.title, 1: file.description} != {0: '', 1: ''}">
		<f:then>
			<figcaption>
				<f:if condition="{file.title}">
					<h4>{file.title}</h4>
				</f:if>
				<f:if condition="{file.description}">
					<p>{file.description}</p>
				</f:if>										   
			</figcaption>
		</f:then>
	</f:if>
	
	
	
</figure>
</html>
