<f:layout name="Default"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
 	
	<!-- Condition returns false unless variable is set in FLUIDTEMPLATE > page.10.variables -->
 	
	<f:section name="Footer">
        <f:if condition="{contentFooter}">
			<v:content.render column="1" order="sorting" sortDirection="ASC" pageUid="{pid_footerTop}"></v:content.render>
        </f:if>
	</f:section>

</div>
