/* Variables defined in generic_lib */
@import url("__variables.css");

/* Base */
@import url("_base.css");

/* Typography */
@import url("_typo.css");

/* Layout */
@import url("_grid.css");

/* Modules */
@import url("_modules.css");


/* **** */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--toggle-size);
    background-color: var(--white);
    z-index: 1000;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

@media screen and (min-width:640px) { }

@media screen and (min-width:1080px) {

    #header {
        height: 170px
    }
    
    .scrolled #header {
        height: 50px
    }
}

@media screen and (min-width:1300px) { }


/* **** */

#header-inner {
    width: 100%;
    margin: 0 auto;
    position: relative
}

@media screen and (min-width:640px) { }

@media screen and (min-width:1080px) {

    #header-inner {
        width: var(--page-width-lg)
    }
}

@media screen and (min-width:1300px) {
    
	#header-inner {
        width: var(--page-width-xl)
    }
}

/* **** */

main, footer {
    padding: 0 10px;
}

main {
    margin: var(--toggle-size) 0 0;
    border-top: 1px solid rgba(107, 108, 112, 0.5);
}

/* **** */

footer {
    margin: 80px 0 0;
}
@media screen and (min-width:640px) {

    main {
        padding: 20px;
    }
    footer {
        padding: 0 20px;
    }
}

@media screen and (min-width:1080px) {

    main, footer {
        border: 0;
        padding: 0;
        width: 100%;
        margin: 215px 0 0;
    }
}

@media screen and (min-width:1300px) { }


/* **** */

main .inner, footer .inner{
    width: 100%;
    margin-top: 10px 
    
}

@media screen and (min-width:640px) {


}

@media screen and (min-width:1080px) { 
    main .inner, footer .inner {
        margin: 0 auto;
        width: var(--page-width-lg)
    }
}

@media screen and (min-width:1300px) {

    main .inner, footer .inner {
        width: var(--page-width-xl)
    }
}



/* **** */

#page-subtitle {
    display: none;
}

@media screen and (min-width:640px) { }

@media screen and (min-width:1080px) {

    #page-subtitle {
        display: block;
        position: absolute;
        right: 0;
        top: 90px;
        margin-right: 302px;
        width: 445px;
    }
    
    .scrolled #page-subtitle {
        display: none!important
    }
    
    #page-subtitle h1, #page-subtitle h2 {
        margin: 0;
        font-size: 24px;
    }
}


@media screen and (min-width:1300px) { }



/* **** */

#logo {
    position: absolute;
    left:10px;
    top: 0;
}
.scrolled #logo { top: -4px }

#logo i {
    font-size: 28px;
    line-height: var(--toggle-size);
    font-style: normal!important;
}
.scrolled #logo i { font-size: 32px; }

#logo, #logo i { -webkit-transition: all .2s ease-out; -moz-transition: all .2s ease-out; -o-transition: all .2s ease-out; transition: all .2s ease-out }


.scrolled #logo i.icon-logo::before {
  content: "\e905";
}



#logo a,
#logo a:hover { color: var(--text-readable)!important }


@media screen and (min-width:640px) {

    #logo {
        left: 20px;
    }
}

@media screen and (min-width:1080px) {

    #logo {
        top: 76px;
        left: 0;
    }
    .scrolled #logo { top: -6px }
    
    
    #logo i {
        font-size: 34px;
    }
    .scrolled #logo i { font-size: 22px; }
}





















/* TYPO3 CE */

.contObj {
	padding-bottom: 80px;
	padding-left: 0;
	padding-right: 0;
}

.contObj + .contObj {
	border-top: 1px solid var(--light-blueish);
    padding-top: 40px;
}

.contObj p:last-child {
    /* 	margin-bottom:0; */
}





/* **** */
/* Image Galleries */

.ce-gallery, .ce-bodytext {
    font-size: inherit;
    line-height: inherit;
}

.ce-bodytext img,
.ce-gallery img {
	max-width: 100%;
    height: auto!important;
}













.ce-gallery, .ce-gallery .ce-column,
.ce-gallery.right, .ce-bodytext.left,
.ce-gallery.left, .ce-bodytext.right,
.ce-bodytext.right.ident, .ce-bodytext.center.ident {
    float: none;
    width: 100%;
/*     width: auto!important; */
    text-align: left;
    position: relative;
}
.ce-bodytext {
    margin: 0 0 10px 0;
    
    /* allow overflowing tables to be scrolled */
    overflow-x: auto;
}

.ce-bodytext.left, .ce-gallery.left {
    border: 0;
}

.ce-gallery .ce-column {
    margin-bottom: 40px;
    float: none;
}
    
.ce-gallery .ce-row {
    margin: 0;
}

	


@media screen and (min-width:640px) {
    

    
    .ce-gallery .ce-row {
    	margin: 0 -4px 8px -4px;
    }
    
    .ce-gallery .ce-column {
    	padding: 0 4px;
    	margin-bottom: 0;
    }
    
    .ce-gallery[data-ce-columns="1"] .ce-row {
    	padding: 0 4px;
    }
    
    /* 2 Images in a row */
    .ce-gallery[data-ce-columns="2"] .ce-column {
    	width:50%;
    	float:left;
    }
    
    /* 3 Images in a row */
    .ce-gallery[data-ce-columns="3"] .ce-column {
    	width:33.3333%;
    	float:left;
    }
    
    /* 4 Images in a row */
    .ce-gallery[data-ce-columns="4"] .ce-column {
    	width:25%;
    	float:left;
    }


}

@media screen and (min-width:1080px) {
    
    :root {
        --content-spread: var(--page-width-lg)
    }
    
    .ce-gallery.left, .ce-bodytext.left { 
        width: calc(444px - 2*var(--gutter-size)) 
    }
    
    .ce-gallery.right, .ce-bodytext.right {
        width: calc(var(--content-spread) - 444px)
    }

    .ce-gallery.left { margin-top: 4px; margin-right: calc(2*var(--gutter-size)) }
    .ce-bodytext.left { border-top: 1px solid var(--light-blueish); padding: 13px 0 0 0; margin-right: calc(2*var(--gutter-size)) }
    .ce-gallery.left, .ce-bodytext.left {float:left;}
    .ce-gallery.right, .ce-bodytext.right {float:right;}
}

@media screen and (min-width:1300px) {
    
    :root {
        --content-spread: var(--page-width-xl)
    }
    
    .ce-bodytext.center.ident {
        width: 906px;
    }
}











/* **** */
/* Text */

.ce-bodytext a {
    
    color:rgba(76, 77, 81, 1); 
    text-decoration: underline;
    
    text-decoration-color: inherit;
    text-decoration-thickness: .06em;
    text-underline-offset: 2px;

    letter-spacing: normal;
}

.ce-bodytext a.download {
    text-decoration: none!important
}

.ce-bodytext a::before, .ce-bodytext a::after,
.ce-bullets a::before, .ce-bullets a::after {

	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	margin:0 4px 0 8px;

    /* anchor's text-decoration is always applied to pseudo-selectors 
    /* display inline-block seems to help */
    display: inline-block;
    text-decoration: none!important;
    border:0!important;
    background: none!important;
		
}

.ce-bodytext  a[href$='.pdf']::after { content: '\eadf'; color: var(--dark-deepsea);}
.ce-bodytext  a[href$='.xls']::after,
.ce-bodytext  a[href$='.xlsx']::after,
.ce-bodytext  a[href$='.doc']::after,
.ce-bodytext  a[href$='.docx']::after{ content: '\e924';  color: var(--dark-deepsea);}



.ce-bodytext ul  {
	margin: 2em 0;
	list-style-type: none;
}

.ce-bodytext ul li {
	list-style-type: none;
	padding: 0;
	margin: 10px 0px 0px 0px
}

.ce-bodytext ul li a {
	list-style-type: none;
	text-decoration: none!important;
	display: inline-block;
	padding: 0 8px 8px 8px;
	border-bottom: 1px solid var(--light-blueish);
	
	
}








/* **** */
/* Bullets */

.ce-bullets p { margin: 0!important; }

.ce-bullets {
	width: 100%;
	margin: 0;
    display: grid;
    grid-auto-flow: column;
}

.ce-bullets dt {
    grid-column: 1;
}

.ce-bullets dt,
.ce-bullets dd {
	border-bottom: 1px solid var(--light-blueish);
	padding: 0.3em 0;
	margin: 0!important;
}


.ce-bullets  a[href$='.pdf']::after { content: '\eadf'; color: var(--dark-deepsea); float:right;}
.ce-bullets  a[href$='.xls']::after,
.ce-bullets  a[href$='.xlsx']::after,
.ce-bullets  a[href$='.doc']::after,
.ce-bullets  a[href$='.docx']::after { content: '\e924'; color: var(--dark-deepsea); float:right;}

/* .ce-bullets a[href^='http']:after { content: '\e91c';  color: rgb(109, 122, 116); float:right;} */





/* **** */
/* Menus */	
.ce-menu {
	list-style-type: none;
}
.ce-menu li {
	list-style-type: none;
	padding: 0;
	margin: 0
}




/* **** */
/* News related */

.news.news-single img {
	max-width: 100%;
    height: auto!important;
}

.news p.news-img-caption {
    margin: 7px 0 16px 0!important;
}

.news .mediaelement {
    padding-bottom: 27px
}

.news .mediaelement + p.news-img-caption {
    margin-top: -20px!important
}

.news a.more {
    align-items: stretch;
}

.news .news-backlink-wrap {
	margin: 16px 0;
}

.news .like, .news .share, .news .twitter {
	margin: 8px 0;
}


/* FIX for prev/next in detail view */

.news.news-single .icon-paginated_next:before {
  content: "\e90b";
}
.news.news-single .icon-paginated_prev:before {
  content: "\e90a";
}














