<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{gallery.rows}">
		
	<f:switch expression="{gallery.position.horizontal}">
		<f:case value="right">
			<div class="ce-gallery right" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">
		</f:case>
		<f:case value="left">
			<div class="ce-gallery left" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">
		</f:case>
		<f:defaultCase>
			<div class="ce-gallery" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">
		</f:defaultCase>
	</f:switch>	
		
		
		<f:if condition="{gallery.position.horizontal} == 'center'"><div class="ce-outer"><div class="ce-inner"></f:if>
			
			<f:for each="{gallery.rows}" as="row">
				<div class="ce-row clearfix">
					<f:for each="{row.columns}" as="column">
						<f:if condition="{column.media}">
						
						
							<f:cycle values="{0: 'odd', 1: 'even'}" as="zebraClass">                 
								<div class="{f:if(condition: '{gallery.count.columns} > 1', then: 'ce-column {zebraClass}',else:'ce-no-column')}">
									
									<f:render partial="Media/Type" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings}" />
									
								</div>
							</f:cycle>
						</f:if>
					</f:for>
				</div>
			</f:for>
			
		<f:if condition="{gallery.position.horizontal} == 'center'"></div></div></f:if>
		
	</div>
</f:if>

</html>








