<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	
	<f:switch expression="{data.layout}">
	
		<f:case value="0">
			<div class="ce-image ce-{gallery.position.horizontal} ce-{gallery.position.vertical}">
				<f:render partial="Media/MediaGallery" arguments="{_all}" />
			</div>
		</f:case>

		
		<f:case value="105">
			<div class="ce-{gallery.position.horizontal} clearfix">
				<f:render partial="Media/MediaWookmark" arguments="{_all}" />
			</div>
		</f:case>
		
	</f:switch>

</f:section>
</html>
