<f:layout name="Default"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">


	<f:section name="Header">

		<!-- Default header -->
        <div id="header-inner" class="inner">
			<div id="logo"><f:cObject typoscriptObjectPath="lib.logo" /></div>
            <f:if condition="{showLanguages} == '1'"><nav id="language" class="menu"><f:cObject typoscriptObjectPath="lib.languageSwitch" /></nav></f:if>
            <nav id="navigation" class="menu"><f:cObject typoscriptObjectPath="lib.navbar" /></nav>
            
            <div id="page-subtitle">
	            <f:if condition="{data.subtitle}">
                    <f:then>
                        <h1><f:format.raw>{data.subtitle}</f:format.raw></h1>
                    </f:then>
                    <f:else>
                        <h1><f:format.raw>{data.title}</f:format.raw></h1>
                    </f:else>
                </f:if>
            </div>
            
            <f:comment><!-- <div id="menu-icon"><i class="icon-menu-bars"></i></div> --></f:comment>
            <div id="menu-icon"><i class="navicon"></i></div>
		</div>

	</f:section>
</div>
